    <!-- Seccion del navegador e informacion leve -->
    <section id="inicio" class="portada">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
            
            <a class="navbar-brand font-weight-bold text-white " href="#">Portafolio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto enlace" data-animation="center">
                <li class="nav-item">
                  <a class="nav-link text-white font-weight-bold " href="#sobre_mi">Sobre mi</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white font-weight-bold " href="#habilidades">Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white font-weight-bold " href="#trabajos">Trabajos</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link text-white font-weight-bold " href="#contacto">Contáctame</a>
                </li>                            
              </ul>          
            </div>
        </div>
        </nav>
        <div class="container">
            <!--Con el mx-auto pudimos centrar el texto en todo el centro de la pantalla-->
              <div class="text-center w-75 mx-auto">
                <img [src]="img_perfil" alt="perfil" width="140px" height="150px" class="rounded-circle img-fluid img-content mb-3">
                <h1 class="text-white">Daniel Valero</h1>
                <p class="text-white">Desarrollador web</p>
                <p class="text-white mb-2">Apasionado por aprender nuevas tecnologías para dar 
                  solución a cada requerimiento que me soliciten, me agrada la forma en como uno 
                  aprende a través de la experiencias y las buenas prácticas en este mundo de la programación
                </p>
              </div>              
          </div>
    </section> 

    <!-- Seccion sobre mi -->
    <section id="sobre_mi" class="py-3 color-fondo" data-aos="fade-right" >
      <div class="container" id="imagen">
        <div class="text-center mx-auto">
          <h1 class="mb-4 text-white">Sobre de mi</h1>
          <hr style="border-top: 1px solid white;">
        </div>
        <div class="row">
          <div class="col-lg-6 col-sm-12" data-aos="fade-down" data-aos-duration="3000" data-aos-anchor="#imagen" style="background-color: white;">
            <img src="../assets/img/svg/descripcion.svg" alt="" class="img-fluid rounded-left pr-3 border-right">
          </div>
          <div class="col-lg-6 col-sm-12">
            <h2 class="text-white">Trabajo para ser un mejor profesional cada día</h2>
            <p class="text-white mt-3"><i>"Siempre autodidacta, interesado en buscar la manera de 
              mejorar en cada aspecto profesional en la programación. Me gusta poder ayudar y 
              dar con las soluciones que el cliente solicite, creo que no hay mas satisfacción 
              el poder servir a base del conocimiento y el trabajo."</i></p>

              <p class="text-white mt-3"><i>"Actualmente estudiante de ingeniería en informática
                cursando los últimos semestres, me gusta mucho los diseños web minimalista siento
                que son claros y centrados que facilitan la información que requiere la persona en 
                el momento."</i></p>
              
          </div>
        </div>
      </div>
    </section>

    <!-- Seccion en donde se escoje que perfil desea ver -->
    <!-- <section class="py-3">
      <div class="container">
          <div class="row">
            <div class="col-lg-6 col-sm-12">
              <div class="text-center mx-auto">
                <h1 class="mb-4" data-aos="fade-right" >Como programador</h1>
                  <div class="card h-100" data-aos="zoom-in">
                    <img src="../assets/img/perfil_programador.png" data-aos="zoom-in" data-aos-duration="2500" class="card-img-top" alt="..." width="250px" height="210px">
                    <div class="card-body">
                      <hr style="border-top: 1px solid #671A2D;">
                      <button class="btn font-weight-bold boton-demo" data-aos="zoom-in" (click)="ver_programador()">Ver habilidades</button>              
                  </div>
                </div>            
              </div>
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="text-center mx-auto">
                <h1 class="mb-4" data-aos="fade-right" >Como trabajador</h1>
                <div class="card h-100" data-aos="zoom-in">
                  <img src="../assets/img/perfil_empleado.png" data-aos="zoom-in" data-aos-duration="2500" class="card-img-top" alt="..." width="250px" height="210px">
                  <div class="card-body">
                    <hr style="border-top: 1px solid #671A2D;">
                    <button class="btn font-weight-bold boton-demo" data-aos="zoom-in" (click)="ver_trabajador()">Ver habilidades</button>              
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
        
    <!-- Seccion como programador -->
    <div *ngIf="programador == true">      
      <!-- Seccion de habilidades -->
      <section id="habilidades" class="py-3">
        <div class="container">
          <div class="text-center mx-auto">
            <h2 data-aos="zoom-in">Mis habilidades como programador</h2>
            <div class="card-deck">
              <div class="row">
                <div class="col-sm-12 col-lg-4 col-md-6 mb-4">
                  <div class="card h-100" data-aos="zoom-in">
                    <img src="../assets/img/front.jpg" class="card-img-top" alt="..." width="330px" height="210px">
                    <div class="card-body">
                      <h5 class="card-title">Frontend</h5>
                      <ul class="list-unstyled">
                        <li class="d-flex justify-content-between align-items-center">
                          <p><i class="fa fa-check mr-2" style="color: #671A2D;"></i>Diseños de sitios web</p>
                          <span class="badge badge-pill bg-primary text-white">70%</span>                    
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                          <p><i class="fa fa-check mr-2" style="color: #671A2D;"></i>Animaciones y efectos</p>
                          <span class="badge badge-pill bg-primary text-white">40%</span>                    
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                          <p><i class="fa fa-check mr-2" style="color: #671A2D;"></i>Diseño responsive</p>
                          <span class="badge badge-pill bg-primary text-white">70%</span>                    
                        </li>
                      </ul>                
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-4 col-md-6 mb-4">
                  <div class="card h-100" data-aos="zoom-in">
                    <img src="../assets/img/back.jpg" class="card-img-top" alt="..." width="330px" height="210px">
                    <div class="card-body">
                      <h5 class="card-title">Backend</h5>
                      <ul class="list-unstyled">
                        <li class="d-flex justify-content-between align-items-center">
                          <p><i class="fa fa-check mr-2" style="color: #671A2D;"></i>Crear CRUD</p>
                          <span class="badge badge-pill bg-primary text-white">50%</span>                    
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                          <p><i class="fa fa-check mr-2" style="color: #671A2D;"></i>Consumir API's</p>
                          <span class="badge badge-pill bg-primary text-white">35%</span>                    
                        </li>                  
                      </ul>                
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-4 col-md-6 mb-4">
                  <div class="card h-100" data-aos="zoom-in">
                    <img src="../assets/img/sobremi.jpg" class="card-img-top" alt="..." width="330px" height="210px">
                    <div class="card-body">
                      <h5 class="card-title">Personales</h5>
                      <ul class="list-unstyled">
                        <li class="d-flex justify-content-between align-items-center">
                          <p><i class="fa fa-check mr-2" style="color: #671A2D;"></i>Comunicativo</p>
                          <span class="badge badge-pill bg-primary text-white">80%</span>                    
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                          <p><i class="fa fa-check mr-2" style="color: #671A2D;"></i>Responsable</p>
                          <span class="badge badge-pill bg-primary text-white">100%</span>                    
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                          <p><i class="fa fa-check mr-2" style="color: #671A2D;"></i>Colaborador</p>
                          <span class="badge badge-pill bg-primary text-white">100%</span>                    
                        </li>
                      </ul>                
                    </div>
                  </div>
                </div>
              </div>                                    
            </div>
          </div>
        </div>
      </section>
  
      <!-- Seccion de conocimientos -->
      <section class="py-3 bg-primary">
        <div class="container">
          <div class="text-center mx-auto">
            <h2 class="text-white font-weight-bold mb-2" data-aos="zoom-in">Herramientas con las que he trabajado</h2>
            <div class="card-deck">
              <div class="row">
                <div class="col-sm-12 col-lg-4 col-md-6 mb-4">
                  <div class="card h-100" data-aos="zoom-in">
                    <img src="../assets/img/svg/html-5.svg" class="card-img-top mt-5" alt="..." width="330px" height="210px">
                    <div class="card-body">
                      <h2 class="card-title">Html</h2>
                      <h5 class="display-4 content-porcetnaje">85%</h5>                    
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-4 col-md-6 mb-4">
                  <div class="card h-100" data-aos="zoom-in">
                    <img src="../assets/img/svg/css-3.svg" class="card-img-top mt-5" alt="..." width="288px" height="200px">
                    <div class="card-body">
                      <h2 class="card-title">Css</h2>
                      <h5 class="display-4 content-porcetnaje">65%</h5>                    
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-4 col-md-6 mb-4">
                  <div class="card h-100" data-aos="zoom-in">
                    <img src="../assets/img/svg/typescript-icon.svg" class="card-img-top mt-5" alt="..." width="288px" height="200px">
                    <div class="card-body">
                      <h2 class="card-title">Typescript</h2>
                      <h5 class="display-4 content-porcetnaje">50%</h5>                    
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-4 col-md-6 mb-4">
                  <div class="card h-100" data-aos="zoom-in">
                    <img src="../assets/img/svg/bootstrap.svg" class="card-img-top mt-5" alt="..." width="288px" height="200px">
                    <div class="card-body">
                      <h2 class="card-title">Bootstrap</h2>
                      <h5 class="display-4 content-porcetnaje">80%</h5>                    
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-4 col-md-6 mb-4">
                  <div class="card h-100" data-aos="zoom-in">
                    <img src="../assets/img/svg/angular-icon.svg" class="card-img-top mt-5" alt="..." width="288px" height="200px">
                    <div class="card-body">
                      <h2 class="card-title">Angular</h2>
                      <h5 class="display-4 content-porcetnaje">50%</h5>                    
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-4 col-md-6 mb-4">
                  <div class="card h-100" data-aos="zoom-in">
                    <img src="../assets/img/svg/ionic.svg" class="card-img-top mt-5" alt="..." width="288px" height="200px">
                    <div class="card-body">
                      <h2 class="card-title">Ionic</h2>
                      <h5 class="display-4 content-porcetnaje">45%</h5>                    
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-4 col-md-6 mb-4">
                  <div class="card h-100" data-aos="zoom-in">
                    <img src="../assets/img/svg/firebase.svg" class="card-img-top mt-5" alt="..." width="288px" height="200px">
                    <div class="card-body">
                      <h2 class="card-title">Firebase</h2>
                      <h5 class="display-4 content-porcetnaje">35%</h5>                    
                    </div>
                  </div>
                </div>
              </div>                                    
            </div>
          </div>
        </div>
      </section>
      
      <!-- Seccion de proyectos -->
      <section id="trabajos" class="py-3">
        <div class="container">
          <div class="text-center mx-auto">
            <h2>Diseños y proyectos realizados</h2>
            <div class="card-deck">
              <div class="row">
                <div class="col-sm-12 col-lg-4 col-md-6 mb-4">
                  <div class="card h-100" data-aos="zoom-in">
                    <img src="../assets/img/capture-pagina-web-moderna.PNG.jpg" class="card-img-top" alt="..." width="330px" height="210px">
                    <div class="card-body">
                      <h5 class="card-title">Diseño home page</h5>
                      <p class="card-text">Elaborado en bootstrap como practica para afinar mis conocimientos sobre este 
                        framework
                      </p>
                      <a href="https://danielvalero41.github.io/pagina-web-moderna/" class="btn font-weight-bold boton-demo">Ver demo</a>                
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-4 col-md-6 mb-4">
                  <div class="card h-100" data-aos="zoom-in">
                    <img src="../assets/img/capture-dashboard.PNG.jpg" class="card-img-top" alt="..." width="330px" height="210px">
                    <div class="card-body">
                      <h5 class="card-title">Dashboard</h5>
                      <p class="card-text">También realizado en bootstrap con fines prácticos</p>
                      <a href="https://danielvalero41.github.io/panel-de-administracion/." class="btn font-weight-bold boton-demo">Ver demo</a>                                
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-4 col-md-6 mb-4">
                  <div class="card h-100" data-aos="zoom-in">
                    <img src="../assets/img/capture-red-social.PNG.jpg" class="card-img-top" alt="..." width="330px" height="210px">
                    <div class="card-body">
                      <h5 class="card-title">Diseño de una red social</h5>
                      <p class="card-text">En este se replico la versión anterior de la red social de facebook</p> 
                      <a href="https://danielvalero41.github.io/red-social/" class="btn font-weight-bold boton-demo">Ver demo</a>                               
                    </div>
                  </div>
                </div>              
                <div class="col-sm-12 col-lg-4 col-md-6 mb-4">
                  <div class="card h-100" data-aos="zoom-in">
                    <img src="../assets/img/capture-app-ionic.PNG.jpg" class="card-img-top" alt="..." width="330px" height="210px">
                    <div class="card-body">
                      <h5 class="card-title">Desarrollo de una App movil con Ionic y Angular</h5>
                      <p class="card-text">En esta sencilla aplicación de practica se realiza una lista de estudiantes 
                        y en ella se puede habilitar, inhabilitar y eliminar a un estudiante
                      </p>
                      <a href="https://github.com/danielvalero41/A10Dance" class="btn font-weight-bold boton-demo">Ver repositorio</a>                                
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-4 col-md-6 mb-4">
                  <div class="card h-100" data-aos="zoom-in">
                    <img src="../assets/img/capture-servicio-compra-venta.PNG.jpg" class="card-img-top" alt="..." width="330px" height="210px">
                    <div class="card-body">
                      <h5 class="card-title">Servicio de compra y venta</h5>
                      <p class="card-text">Realizado en Laravel 5.6 y Vue.js posee todo un sistema de facturacion, 
                        roles y permisos, registra productos por categoria, realiza los calculos correspondientes asi 
                        como tambien generar registros en PDF
                      </p>
                      <a href="https://github.com/danielvalero41/Sistema-de-Compras---Ventas" class="btn font-weight-bold boton-demo">Ver respositorio</a>                                
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-4 col-md-6 mb-4">
                  <div class="card h-100" data-aos="zoom-in">
                    <img src="../assets/img/capture-delivery.PNG.jpg" class="card-img-top" alt="..." width="330px" height="210px">
                    <div class="card-body">
                      <h5 class="card-title">Servicio de delivery</h5>
                      <p class="card-text">Realizado con Angular y Firebase, este aun esta en proceso pero se puede 
                        autenticar, ver los productos,etc. Cuenta con la forma de PWA lo que lo hace instalable para 
                        cualquier dispositivo tanto en escritorio como movil
                      </p>
                      <button class="btn font-weight-bold boton-demo" disabled>En proceso</button>                                
                    </div>
                  </div>
                </div>
              </div>                                    
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Seccion como trabajador -->
    <!-- <div *ngIf="trabajador == true">
      <section class="py-3">
        <div class="container">
          <div class="text-center mx-auto">
            <h2 data-aos="zoom-in">Mi experiencia laboral</h2>
            <div class="card-deck">
              <div class="row">                
                <div class="col-sm-12 col-lg-12 mb-4">
                  <div class="card h-100" data-aos="zoom-in">                    
                    <div class="card-body">
                      <h5 class="card-title">SERVICOMPU-TECNOLOGY LÓPEZ</h5>
                      <small class="text-muted">12/01/2017 - 22/06/2017</small>  
                      <p>En este trabajo aprendi mucho sobre la tecnologia desde formatear tanto laptops, pc, telefonos,
                        hasta dar su respectivo mantenimiento, obtuve como reconocimiento como el mejor empleado por ser puntual,
                        responsable y sobre todo por el empeño de dar una mejor calidad en atención a los clientes.</p>
                      <p>Los conocimientos que adquirí fueron:</p>  
                      <div class="container">
                        <div class="row">
                          <div class="col">
                            <ul class="list-unstyled">
                              <li class="d-flex justify-content-between align-items-center">
                                <p><i class="fa fa-check mr-2" style="color: #671A2D;"></i>Formatear laptops y pc</p>                                              
                              </li>
                              <li class="d-flex justify-content-between align-items-center">
                                <p><i class="fa fa-check mr-2" style="color: #671A2D;"></i>Trabajar con Word y Excel</p>                                              
                              </li>
                              <li class="d-flex justify-content-between align-items-center">
                                <p><i class="fa fa-check mr-2" style="color: #671A2D;"></i>Instalar programas y aplicaciones</p>
                              </li>
                              <li class="d-flex justify-content-between align-items-center">
                                <p><i class="fa fa-check mr-2" style="color: #671A2D;"></i>Instalar windows en todas su versiones</p>
                              </li>                              
                            </ul>
                          </div>
                          <div class="col">
                            <ul class="list-unstyled">                              
                              <li class="d-flex justify-content-between align-items-center">
                                <p><i class="fa fa-check mr-2" style="color: #671A2D;"></i>Reparar e instalar sotfware a los telefonos</p>                                              
                              </li>
                              <li class="d-flex justify-content-between align-items-center">
                                <p><i class="fa fa-check mr-2" style="color: #671A2D;"></i>Desbloquear telefonos</p>                                              
                              </li>
                              <li class="d-flex justify-content-between align-items-center">
                                <p><i class="fa fa-check mr-2" style="color: #671A2D;"></i>Instalación y configuración de routers</p>                                              
                              </li>
                              <li class="d-flex justify-content-between align-items-center">
                                <p><i class="fa fa-check mr-2" style="color: #671A2D;"></i>Crear diseños para logos y/o publicidad</p>                                              
                              </li>
                            </ul>
                          </div>
                        </div>            
                      </div>
                    </div>
                  </div>
                </div>                                       
              </div>                                    
            </div>
          </div>
        </div>
      </section>
    </div> -->
    <!-- Seccion de contacto -->
    <footer id="contacto" class="bg-primary pt-3">
      <div class="container">
        <div class="row d-flex justify-content-between">          
          <div class="col-lg-6">
            <div class="mb-5">
              <h6 class="font-weight-bold mb-0 text-white">Teléfono de contacto</h6>
              <small class="text-white">+58 414 709 3074</small>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-5">
              <h6 class="font-weight-bold mb-0 text-white">Mi correo electronico</h6>
              <small class="text-white text-center">daniellvalero41@gmail.com</small>
            </div>
          </div>
        </div>
        <div class="row py-4 border-top">
          <div class="col-lg-6 col-sm-12 text-sm-centrado">
            <small class="text-white font-weight-bold">Desarrollado por Daniel Valero</small>
          </div>
          <div class="col-lg-6 col-sm-12 text-right">
            
            <ul class="list-unstyled list-inline mb-0">
              <li class="list-inline-item mr-4"><small class="text-white font-weight-bold">Mis redes sociales</small></li>
              <li class="list-inline-item mr-4"><a href="https://www.instagram.com/daniellvalero41/"><i class="text-white icon ion-logo-instagram lead align-middle"></i> </a></li>
              <li class="list-inline-item mr-4"><a href="https://www.facebook.com/DanielValero41/"><i class="text-white icon ion-logo-facebook lead align-middle"></i> </a></li>
              <li class="list-inline-item mr-4"><a href="https://twitter.com/Daniell_41"><i class="text-white icon ion-logo-twitter lead align-middle"></i> </a></li>              
            </ul>
          </div>
        </div>
      </div>
    </footer>           